.NavbarItems {
  background-color: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*space-evenly*/
  padding: 0 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  font-size: 1.3rem;
  width: 95%;
  height: 80px;
  border-radius: 13px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 9999;
}

/*esto es lo de la img-logo*/
.navbar-logo {
  color: #222;
  font-size: 2rem;
  cursor: pointer;
}

.imgStyle {
  margin-top: 20px;
  margin-right: 15px;
  margin-left: -230px;
  width: 300px;
  height: 80px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: end;
  margin-right: 45px;
}

.nav-links {
  text-decoration: none;
  /*color: #41c03b;*/
  color: #00b09b /*black*/;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.7rem 1rem;
  white-space: nowrap;
}
.nav-links i {
  padding-right: 10px;
}
.nav-links:hover {
  background-color: #01959a;
  /*color: #ffff es para que cuando ponga el cursos se ponga las letras */
  /*de ese color*/
  color: #ffff;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.menu-icons {
  display: none;
}

/*Activamos el respon*/
@media screen and (max-width: 1024px) {
  .NavbarItems {
    z-index: 99;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*aqui cambio el color de backgroud del menu responsive*/
    background: #fff;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
    transition: 0.3s ease-in-out;
    border-radius: 13px;
  }

  .nav-menu.active {
    left: 0;
    opacity: 1;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }

  .nav-links {
    display: block;
    widows: 100%;
    font-size: 1.2rem;
    padding: 1.5rem 0;
    /*color: #fff;*/
  }
  .nav-links:hover {
    background: #01959a;
    transition: none;
    /*backdrop-filter: blur(20px); */
  }
  .menu-icons {
    display: block;
    cursor: pointer;
  }
  .menu-icons i {
    font-size: 1.2rem;
    color: #00b09b /*#222*/;
  }
  .imgStyle {
    margin-right: 40%;
    width: 200px;
    height: 80px;
  }
}
